fastapi==0.68.1
uvicorn==0.15.0
langchain
langchain-openai
langchain-community
openai
pinecone
python-dotenv==0.19.0
langdetect
pymongo
python-multipart==0.0.5
pydantic==1.8.2
requests
beautifulsoup4
pypdf
email-validator
jinja2
pycalendar
google-auth
google-auth-oauthlib
google-api-python-client
mailchimp3
hubspot-api-client
langchain-pinecone
bcrypt
cryptography
redis
tenacity
stripe
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
PyJWT==2.1.0