fastapi>=0.110.0
uvicorn==0.27.1
python-dotenv==1.0.1
python-multipart==0.0.9
pydantic>=2.0.0
requests
jinja2
email-validator
pymongo
redis==5.0.1
PyJWT==2.10.1
beautifulsoup4
psutil
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
python-jose[cryptography]==3.3.0
cryptography
click
langchain
langchain-openai
langchain-community
langchain-pinecone
pinecone
python-socketio
boto3
langdetect
stripe