fastapi>=0.110.0
uvicorn==0.27.1
langchain
langchain-openai
langchain-community
openai
pinecone
python-dotenv==1.0.1
langdetect
pymongo
python-multipart==0.0.9
pydantic>=2.0.0
requests
beautifulsoup4
pypdf
email-validator
jinja2
pycalendar
google-auth
google-auth-oauthlib
google-api-python-client
mailchimp3
hubspot-api-client
langchain-pinecone
bcrypt==4.1.2
cryptography
redis
tenacity
stripe==7.11.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
PyJWT==2.10.1
boto3
python-socketio==5.11.0
redis==5.0.1